<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletSesion</servlet-name>
        <servlet-class>com.controlador.ServletSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEmpleado</servlet-name>
        <servlet-class>com.controlador.ServletEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletClientes</servlet-name>
        <servlet-class>com.controlador.ServletClientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAutomplete</servlet-name>
        <servlet-class>com.controlador.ServletAutomplete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEliminarEmpleado</servlet-name>
        <servlet-class>com.controlador.ServletEliminarEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEditarEmpleado</servlet-name>
        <servlet-class>com.controlador.ServletEditarEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEliminarCliente</servlet-name>
        <servlet-class>com.controlador.ServletEliminarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEditarCliente</servlet-name>
        <servlet-class>com.controlador.ServletEditarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPagos</servlet-name>
        <servlet-class>com.controlador.ServletPagos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEditarPago</servlet-name>
        <servlet-class>com.controlador.ServletEditarPago</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesoReporteMes</servlet-name>
        <servlet-class>com.controlador.ProcesoReporteMes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletSesion</servlet-name>
        <url-pattern>/ServletSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEmpleado</servlet-name>
        <url-pattern>/ServletEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletClientes</servlet-name>
        <url-pattern>/ServletClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAutomplete</servlet-name>
        <url-pattern>/ServletAutomplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEliminarEmpleado</servlet-name>
        <url-pattern>/ServletEliminarEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEditarEmpleado</servlet-name>
        <url-pattern>/ServletEditarEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEliminarCliente</servlet-name>
        <url-pattern>/ServletEliminarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEditarCliente</servlet-name>
        <url-pattern>/ServletEditarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEditarPago</servlet-name>
        <url-pattern>/Empleados/ServletEditarPago</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesoReporteMes</servlet-name>
        <url-pattern>/ProcesoReporteMes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPagos</servlet-name>
        <url-pattern>/Empleados/ServletPagos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
